@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2> @*Page heading*@ 
<br />

<h4>Postal Address:</h4> @*heading*@
<address>
    Private Bag 19<br />
    Nelson, 7042<br />
    New Zealand<br />
</address>

<h4>Phone Number:</h4> @*heading*@
<address>
    <abbr title="Phone">P:</abbr>
    0800 422 733
</address>

<h4>Email Address</h4> @*heading*@
<address>
    <p>bubblegumbecky@hotmail.com</p>
</address>