@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tutorials";
}

<h2>@ViewBag.Title</h2>

<p>
    Please make use of the following tutorials as they will help you learn the basics of how to play around the world. </br>
    Under each button is brief description of the tutorial. </br> </br> </br>
</p>

<p><a class="btn btn-default" href="~/AroundTheWorld/Tutorial1">Tutorial 1</a></p>
<p>
    In this tutorial you will learn how to set up a dart board. This includes the correct measurements for where 
    the </br> dart board gets positioned and the distance at which you throw your darts.
</p>
<p><a class="btn btn-default" href="~/AroundTheWorld/Tutorial2">Tutorial 2</a></p>
<p>
    In this tutorial you will learn the basics of how to hold darts and some throwing techniques. This will 
    include how </br> to hold a dart and the stance to stand in when you throw it.
</p>
<p><a class="btn btn-default" href="~/AroundTheWorld/Tutorial3">Tutorial 3</a></p>
<p>
    In this tutorial you will be introduced to around the world. This will include instructions and tips on how 
    to play.
</p>
<p><a class="btn btn-default" href="~/AroundTheWorld/Tutorial4">Tutorial 4</a></p>
<p>
    This tutorial is for more advanced players. It will give you options for harder gameplay of around the world.
</p>


